doctype html
extends layout

block content

html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Incident Detail Page
    body
        div
        h1 Incident: #{Incident.name}
            ul
                li #{Incident.irNumber}
                li #{Incident.occurenceDates}
                li #{Incident.occurenceTimes}
                li #{Incident.incidentType}
                li #{Incident.location}
                li #{Incident.locationName}
                li #{Incident.value}
                li #{Incident.narrative}
                li #{Incident.officerName}
                li #{Incident.officerSerialNum}
                li #{Incident.reportDate}
                li #{Incident.time}
                li #{Incident.suppInt}
